@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TweetSharp;
<style>
    a {
        text-decoration: none;
        color: inherit;
    }

        a:hover {
            text-decoration: underline;
        }

    img {
        border: 0px;
        vertical-align: top;
    }

    .tweet {
        margin: 10px;
        border-bottom: 1px solid #808080;
    }

        .tweet div.picture {
            float: left;
        }

        .tweet div.info {
            float: left;
            margin-left: 5px;
        }

            .tweet div.info a.text {
                color: #f64fd4;
            }

        .tweet div.action a {
            color: #00a5ff;
        }

        .tweet div.clear {
            clear: both;
        }
</style>

<h2>Index</h2>
<div>
    @using (Html.BeginForm())
    {
        <label for="txtTwitterName">Twitter Name:</label> <input type="text" name="txtTwitterName" id="txtTwitterName" placeholder="Type a twitter name" />
        <br />
        <input type="submit" value="Get Tweets" />
    }
    @* Show tweets here *@
    <div>
        @if (ViewBag.Tweets != null)
        {
            IEnumerable<TwitterStatus> tweets = ViewBag.Tweets as IEnumerable<TwitterStatus>;
            foreach (var tweet in tweets.Where(x => x.Location != null))
            {
                @*<h1>dd=  @tweet.Location </h1>*@

                <div class="tweet">
                    <div class="picture">
                        <img src="@tweet.User.ProfileImageUrl" alt="@tweet.User.ScreenName" title="@tweet.User.ScreenName" />
                    </div>
                    <div class="info">
                        <span>@tweet.User.Name, @tweet.User.Description - @tweet.User.Location </span>
                        <br />
                        <a href="https://twitter.com/statuses/@tweet.Id" class="text">
                            @tweet.Text
                        </a>
                        <div class="action">
                            @tweet.CreatedDate.AddHours(3).ToString("d/M/yyyy HH:mm:ss")
                            <a href="https://twitter.com/intent/tweet?in_reply_to=@tweet.Id" target="_blank">Reply</a> |
                            <a href="https://twitter.com/intent/retweet?tweet_id=@tweet.Id" target="_blank">Retweet</a> |
                            <a href="https://twitter.com/intent/favorite?tweet_id=@tweet.Id" target="_blank">Favorite</a>
                        </div>
                    </div>
                    <div class="clear">

                    </div>

                </div>
            }
        }

    </div>
</div>